<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CHIC with us{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/container.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/assets/fonts/fontawesome-free-7.0.1-web/css/all.min.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    {% block extra_css %}{% endblock %}  <!-- Block để thêm CSS tùy trang -->
</head>
<body>
    <div class="wrapper">
        {% include 'header.html' %}  <!-- Chèn header -->
        
        {% block slider %}{% endblock %}  <!-- Block cho slider, có thể override hoặc include -->
        
        <div class="container">
            {% block content %}{% endblock %}  <!-- Nội dung chính của trang -->
        </div>
        
        {% include 'footer.html' %}  <!-- Chèn footer -->
    </div>
    {% block extra_js %}{% endblock %}  <!-- Block cho JS tùy trang -->
</body>
</html>