<header class="header">
    <div class="grid">
        <nav class="header__navbar">
            <ul class="navbar-list">
                <li class="header__logo">
                    <a class="header__logo-link" href="/">CHIC</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-link" href="/">Shops</a>
                    <i class="fas fa-angle-down"></i>
                    <ul class="subnav-list">
                        <li class="subnav-item">
                            <a class="subnav-item-link" href="/category/men">Men</a>
                        </li>
                        <li class="subnav-item">
                            <a class="subnav-item-link" href="/category/women">Women</a>
                        </li>
                        <li class="subnav-item">
                            <a class="subnav-item-link" href="/category/accessories">Accessories</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-link" href="/sales">On Sales</a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-item-link" href="/newarrivals">New Arrivals</a>
                </li>
            </ul>

            <div class="header__search">
                <i class="search__icon fas fa-magnifying-glass"></i> 
                <input type="text" class="search__input" placeholder="Search for products">                       
            </div>

            <ul class="navbar-list">
                <li class="navbar-item">
                    <a class="navbar-icon-link" href="/cart">
                        <i class="navbar-icon fas fa-cart-shopping"></i>
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-icon-link" href="/login">
                        <i class="navbar-icon fas fa-right-to-bracket"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>