.wrapper {

}
.header {
    height: 48px;
    background-color: var(--white-color);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}
.subnav-list {
    display: none;
    padding-left: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 150px;
}
/* Logo navbar */
.header__logo {
    font-family: 'Integral CF',sans-serif;
    display: inline-block;
    font-weight: 700;
    font-style: Bold;
    font-size: 3.2rem;
    letter-spacing: 0%;
    line-height: 100%;
    vertical-align: middle;
}
.header__logo-link {
    display: inline-block;
    text-decoration: none;
    color: var(--text-primary-color);
    margin-right: 20px;
}
/* Item navbar */
.navbar-item {
    gap: 4px;
    position: relative;
}
.subnav-item {
    width: 100%;
}
.navbar-item,
.subnav-item,
.navbar-item-link,
.subnav-item-link,
.navbar-icon-link {
    display: inline-block;
    text-decoration: none;
    line-height: 48px;
    font-size: 1.6rem;
    color: var(--text-primary-color);
    padding: 0 8px;
}
/* Icon Navbar */
.navbar-icon-link {
    display: inline-flex;
    align-items: center;
} 
.navbar-icon {
    width: 24px;
    height: 24px;
    margin: 0 4px;
    color: var(--black-color);
}
/* Hover item navbar */
.navbar-item-link:hover,
.navbar-icon-link:hover,
.subnav-item-link:hover {
    color: var(--text-secondary-color);
    text-decoration: none;
}
.header__logo-link:hover {
    text-decoration: none;
    color: var(--text-primary-color);
}
.navbar-item:hover .subnav-list {
    display: block;
}
/* Searchbar */
.header__search {
    display: flex;
    align-items: center;
    height: 44px;
    width: 100%;
    max-width: 560px;
    border-radius: 62px;
    padding: 12px 16px;
    background-color: #F0F0F0;
    gap: 12px;
}
.search__icon {
    font-size: 1.6rem;
    color: #666;
    margin-right: 8px;
}
.search__input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 1.6rem;
    color: #333;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0%;
}

.search__input::placeholder {
    color: #00000066;
}
