.product-section {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.product-section__header {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--black-color);
    margin-bottom: 20px;
}

.product-section__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product-section__view-all {
    width: 218px;
    height: 52px;
    margin-top: 20px;
    border-radius: 62px;
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 1.6rem;
    padding: 16px 54px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-section__view-all:hover {
    background-color: var(--gray-color);
}

.product-section--new-arrivals .product-section__header {
    color: var(--primary-color);
}

.product-section--top-selling .product-section__header {
    color: var(--secondary-color);
}