{% if type=='search' %}
<input type="search" name="{{ name }}" placeholder="{{ placeholder }}" aria-label="{{ placeholder }}"
class="input input-{{ type }}" required>

{% elif type=='number' %}
<input type="number" name="{{ name }}" placeholder="{{ placeholder }}" aria-label="{{ placeholder }}"
class="input input-{{ type }}" min="0" max="{{ product.variant.quantity }}" required>

{% elif type=='text' and name="review" %}
<textarea name="{{ name }}" placeholder="{{ placeholder }}" aria-label="{{ placeholder }}"
class="input input-{{ type }}" ></textarea>>

{% elif type=='text' and name="note" %}
<input type="text" name="{{ name }}" placeholder="{{ placeholder }}" aria-label="{{ placeholder }}"
class="input input-{{ type }}">