{% load static %}  <!-- Load tag static ở đầu -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CHIC with us{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'coreui/css/base.css' %}">  <!-- Sử dụng static tag -->
    <link rel="stylesheet" href="{% static 'coreui/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'coreui/css/container.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">  <!-- Nếu có favicon -->
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        {% include './components/header.html' %}  <!-- Include component header -->
        
        {% block content %}  <!-- Block cho content dynamic (SRP: chỉ content thay đổi) -->
        {% endblock %}
        
        {% include './components/footer.html' %}  <!-- Include component footer -->
    </div>
    <!-- {% block extra_js %}{% endblock %}  Block cho JS nếu cần -->
</body>
</html>