{% load static %}

<footer class="footer">
    <div class="footer__top">
        <div class="footer__logo-section">
            <h1 class="footer__logo">CHIC with us</h1>
            <p class="footer__description">
                We have clothes that suits your style and which you’re proud to wear. From women to men.
            </p>
            <div class="footer__social">
                <a href="#" class="footer__social-icon"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="footer__social-icon"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="footer__social-icon"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>
        <div class="footer__contact">
            <form class="footer__form">
                <input type="email" class="footer__input" placeholder="Enter your email address">
                <button type="submit" class="footer__button">Subscribe to Newsletter</button>
            </form>
            <ul class="footer__contact-list">
                <li class="footer__contact-item">Order: <a href="tel:02499986999">024 999 86 999</a></li>
                <li class="footer__contact-item">Email: <a href="mailto:customerservice@chic.us">customerservice@chic.us</a></li>
                <li class="footer__contact-item">Feedback: <a href="tel:18002086">1800 2086</a></li>
                <li class="footer__contact-item">Address: New York, US</li>
            </ul>
        </div>
    </div>
    
    <div class="footer__columns">
        <div class="footer__column">
            <h3 class="footer__column-title">Shopping<i class="fas fa-angle-down"></i></h3>
            <ul class="footer__sub-menu">
                <li class="footer__sub-item">Men</li>
                <li class="footer__sub-item">Women</li>
            </ul>
        </div>
        <div class="footer__column">
            <h3 class="footer__column-title">Customer Service<i class="fas fa-angle-down"></i></h3>
            <ul class="footer__sub-menu">
                <li class="footer__sub-item">Check Product Before Receiving Policy</li>
                <li class="footer__sub-item">Return Policy</li>
                <li class="footer__sub-item">Privacy Policy</li>
                <li class="footer__sub-item">Payment Policy</li>
                <li class="footer__sub-item">Delivery Policy</li>
            </ul>
        </div>
        <div class="footer__column">
            <h3 class="footer__column-title">About CHIC<i class="fas fa-angle-down"></i></h3>
            <ul class="footer__sub-menu">
                <li class="footer__sub-item">Introduction</li>
                <li class="footer__sub-item">Careers</li>
            </ul>
        </div>
    </div>
</footer>

