<section class="product-images">
    <div class="product-images__thumbnails">
        <figure class="product-images__thumbnail product-images__thumbnail--left">
            <img src="images/One Life Graphic T-shirt-front.png" alt="Áo thun O.G Life - Mặt trước">
        </figure>
        <figure class="product-images__thumbnail product-images__thumbnail--right">
            <img src="images/One Life Graphic T-shirt-back.png" alt="Áo thun O.G Life - Mặt sau">
        </figure>
    </div>
    <figure class="product-images__main">
        <img src="images/One Life Graphic T-shirt-model.png" alt="Áo thun O.G Life - Người mẫu mặc">
    </figure>
</section>