<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <style>
        body { font-family: Arial,serif; } .product { border: 1px solid #ccc; padding: 10px; }
    </style>
</head>
<body>
    <h1>Our items</h1>
    {% for product in products %}
        <div class="product">
            <h2>{{ product.name }}</h2>
            <p>Giá: {{ product.price }} $</p>
            <p>{{ product.description }}</p>
        </div>
    {% end for %}
</body>
</html>